h1{margin: 0;}

body{margin: 0;
font-family: serif;
background-color: ##FFFDDE;}

p{margin: 0;
padding-bottom: 10px;
line-height: 1.3}


h2{font-size: 35px;}

.table_par{
  padding-bottom: 80px;
  text-align: left;
}

table{
  text-align: center;
  position: relative;
  left: 350px;
}

.bottom_right{
  position: absolute;
  right:50px;
  bottom:60px;
  color: white;
  font-size: 60px;
}

.bottom_right_2{
  position: absolute;
  right:50px;
  bottom:20px;
  color: white;
  font-size: 25px;
}

.top_container{
  margin: 0;
  background-image: url("../images/woodwork.jpg");
  background-size: cover;
  height: 692px;
}

.middle_container{
  text-align: center;
}

.bottom_container{
}
.btn {position: relative;
left:5px;}

.logo{
  width: 125px;
  height:125px;
  border-radius: 30px;
  padding-right:40px;
  position: relative;
  bottom:20px;
  right:20px;
}

.old{
  filter: blur(3px);
}
